@{
    ViewBag.Title = "Title";
    var F = @Html.F();
}

@model IEnumerable<TestMVC.Models.Title>

@{
    var PagingInfo = ViewBag.PagingInfo as TestMVC.Models.PagingInfoViewModel;
}


@section body {

    @(F.Panel().ID("Panel1").BodyPadding(5).ShowBorder(false).Layout(LayoutType.VBox).ShowHeader(false).Title("职称管理").IsViewPort(true)
        .Items(
            F.Form().ID("Form2").ShowHeader(false).ShowBorder(false)
                .Rows(
                    F.FormRow().ID("FormRow1")
                        .Items(
                            F.TwinTriggerBox().ID("ttbSearchMessage").ShowLabel(false).EmptyText("在职称名称中搜索").Trigger1Icon(TriggerIcon.Clear).Trigger2Icon(TriggerIcon.Search).ShowTrigger1(false).OnTrigger2Click(Url.Action("Title_DoPostBack"), "Panel1", new Parameter("actionType", "trigger2", ParameterMode.String)).OnTrigger1Click(Url.Action("Title_DoPostBack"), "Panel1", new Parameter("actionType", "trigger1", ParameterMode.String)),
                            F.Label()
                        )
                ),
            F.Grid().ID("Grid1").BoxFlex(1).ShowBorder(true).ShowHeader(false).EnableCheckBoxSelect(false).DataIDField("ID").DataTextField("Name").AllowSorting(true).OnSort(Url.Action("Title_DoPostBack"), "Panel1").AllowPaging(true).IsDatabasePaging(true).OnPageIndexChanged(Url.Action("Title_DoPostBack"), "Panel1")
                .Columns(
                    F.RowNumberField().EnablePagingNumber(true),
                    F.RenderFieldFor(m => m.Name, true).Width(180),
                    F.RenderFieldFor(m => m.Remark, true).ExpandUnusedSpace(true),
                    F.RenderField().HeaderText("").EnableHeaderMenu(false).EnableColumnHide(false).RendererFunction("renderActionEdit").Width(50),
                    F.RenderField().HeaderText("").EnableHeaderMenu(false).EnableColumnHide(false).RendererFunction("renderActionDelete").Width(50)
                )
                .PageItems(
                    F.ToolbarSeparator().ID("ToolbarSeparator3"),
                    F.ToolbarText().ID("ToolbarText1").Text("每页记录数："),
                    F.DropDownList().ID("ddlGridPageSize").Width(80).OnSelectedIndexChanged(Url.Action("Title_DoPostBack"), "Panel1", new Parameter("actionType", "changeGridPageSize", ParameterMode.String))
                        .SelectedValue(PagingInfo.PageSize.ToString())
                        .Items(
                            F.ListItem().Text("10").Value("10"),
                            F.ListItem().Text("20").Value("20"),
                            F.ListItem().Text("50").Value("50"),
                            F.ListItem().Text("100").Value("100")
                        )
                )
                .Toolbars(
                    F.Toolbar().ID("Toolbar1").Position(ToolbarPosition.Top)
                        .Items(
                            F.ToolbarFill(),
                            F.Button().ID("btnNew").Icon(Icon.Add).Text("新增职称").Listener("click", "onNewClick").Enabled(ViewBag.CoreTitleNew)
                        )
                ).SortField(PagingInfo.SortField).SortDirection(PagingInfo.SortDirection).PageSize(PagingInfo.PageSize).RecordCount(PagingInfo.RecordCount).DataSource(Model)
            )
    )

    @(F.Window().ID("Window1").IsModal(true).Hidden(true).Target(Target.Top).EnableResize(true).EnableMaximize(true).EnableIFrame(true).Width(900).Height(550).OnClose(Url.Action("Title_DoPostBack"), "Panel1"))

}


@section script {

    <script>

        var coreTitleEdit = @Convert.ToString(ViewBag.CoreTitleEdit).ToLower();
        var coreTitleDelete = @Convert.ToString(ViewBag.CoreTitleDelete).ToLower();

        function onNewClick(event) {
            F.ui.Window1.show('@Url.Content("~/Admin/TitleNew")', '新增');
        }

        function renderActionEdit(value, params) {
            var imageUrl = '@Url.Content("~/res/icon/pencil.png")';
            var disabledCls = coreTitleEdit ? '' : ' f-state-disabled';
            return '<a class="action-btn edit'+ disabledCls +'" href="javascript:;"><img class="f-grid-cell-icon" src="' + imageUrl + '"></a>';
        }

        function renderActionDelete(value, params) {
            var imageUrl = '@Url.Content("~/res/icon/delete.png")';
            var disabledCls = coreTitleDelete ? '' : ' f-state-disabled';
            return '<a class="action-btn delete'+ disabledCls +'" href="javascript:;"><img class="f-grid-cell-icon" src="' + imageUrl + '"></a>';
        }

        F.ready(function () {

            var grid1 = F.ui.Grid1;
            grid1.el.on('click', 'a.action-btn', function (event) {
                var cnode = $(this);
                var rowData = grid1.getRowData(cnode.closest('.f-grid-row'));

                // 是否禁用
                if(cnode.hasClass('f-state-disabled')) {
                    return;
                }

                if (cnode.hasClass('delete')) {
                    F.confirm({
                        message: '确定删除此记录？',
                        target: '_top',
                        ok: function () {
                            // 触发后台事件
                            F.doPostBack('@Url.Action("Title_DoPostBack")', 'Panel1', {
                                actionType: 'delete',
                                deletedRowID: rowData.id
                            });
                        }
                    });
                } else if (cnode.hasClass('edit')) {
                    F.ui.Window1.show('@Url.Content("~/Admin/TitleEdit?id=")' + rowData.id, '编辑');
                }
            });

        });

    </script>
}